github "ReactiveCocoa/ReactiveCocoa" ~> 10.0.0
github "thoughtbot/Argo" ~> 4.1.2
github "thoughtbot/Curry" ~> 4.0.0
github "Alamofire/Alamofire" ~> 4.5.1
github "Alamofire/AlamofireNetworkActivityIndicator" ~> 2.2.0
github "konkab/AlamofireNetworkActivityLogger" "2.4.0"
github "antitypical/Result" "5.0.0"
